
<nav class="nav">
    <ul class="nav__list">
      <li class="nav__listitem">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
    </svg>
        <ul class="nav__listitemdrop">
          <li><%= link_to 'Admin', new_admin_user_session_url %></li>
          <li><%= link_to 'Contact', home_contact_url %></li>
        </ul>
      </li>
      <li class="nav__listitem"><h1><%= link_to 'Pokedex', root_path %></h1></li>
    </ul>
  </nav>