.container
  = form_tag request_contact_path, method: 'post', id:"contact" do
    .titleH
      %h2 Quick Contact
    %script
    %fieldset
      =text_field_tag :name,'',autofocus: "", placeholder: "Your Name", required: "", tabindex: "1"
    %fieldset
      =text_field_tag :email,'',autofocus: "", placeholder: "Your Email", required: "", tabindex: "2"
    %fieldset
      =text_field_tag :telephone,'',autofocus: "", placeholder: "Your Telephone", required: "", tabindex: "3"
    %fieldset
      =text_area_tag :message,'',autofocus: "", placeholder: "Your Message", required: "", tabindex: "4"
    %fieldset
      %button#contact-submit{"data-submit" => "...Sending", :name => "submit", :type => "submit"} Submit 