
/*font family*/
body {
    font-family: 'Dosis';
    font-size: 25px;
    background: #FFFFFF;
    overflow-x: hidden;
}

/* Grid CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  background-color: #49D0B0;
}

.btn {
  color: #000000;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  border-radius: 3rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: #ffffff;
}

.card_title {
  text-align: center;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
}

/* Navbar */

/*   border radius */
$radius: 0.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav {
  position: relative;
  width: 100vw;
  box-shadow: 0 0 10px #e1e5ee;

  svg {
    width: 2.5rem;
    transition: fill 250ms ease-in;

    &:hover,
    &:focus {
      fill: #dd2261;
    }
  }

  &__list {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;

    &logo {
      list-style: none;
      margin-right: auto;
      cursor: pointer;
    }

    &item {
      list-style: none;
      font-weight: bold;
      position: relative;
      padding: 1.5rem 1rem;
      cursor: pointer;

      &::after {
        content: "";
        width: 0;
        height: 0.3rem;
        border-radius: $radius;
        position: absolute;
        left: 1rem;
        bottom: 0.8rem;
        background-color: #dd2261;
        transition: width 200ms ease-in;
      }

      &:hover::after,
      &:focus::after {
        width: 80%;
      }

      &:hover ul,
      &:focus ul {
        opacity: 1;
        visibility: visible;
      }

      &drop {
        position: absolute;
        top: 4rem;
        left: -1rem;
        box-shadow: 0 0 10px #e1e5ee;
        background-color: white;
        border-radius: $radius;
        width: 12rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms ease-in-out;

        li {
          list-style: none;
          padding: 0.5rem 1rem;
          border-radius: $radius;
          transition: background-color 200ms ease-in-out;

          &:hover,
          &:focus {
            background-color: #fce4ec;
          }
        }
      }
    }
  }
}

/* Footer */

section, footer {
background: #ffffff;
color: #000000;
box-shadow: #e1e5ee 0px -4px 5px -2px;
position: bottom;
}

footer p {
padding: 30px 0;
text-align: center;
font-weight: bold;
font-size: 1.3rem;
}